/* SPECIFICATION */

html {
  background-color: #f2f2f2;
}
body {
  max-width: 1200px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #000000;

  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 10px;
  height: 1px;

  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}


/* HEADER */

.header {

}
.header__navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  min-height: 55px;
  
}
.header__navigation-logo {
  position: absolute;
  left: 44%;
  margin-left: -70px;
}

.header__navigation-left,
.header__navigation-right {
  width: 40%;

  text-transform: uppercase;
  font-weight: 700;
}

.header__navigation-left ul,
.header__navigation-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
  padding-top: 15px;
  padding-left: 6%;
  padding-right: 6%;
}

.header__navigation-left ul li,
.header__navigation-right ul li {
  margin-right: 20px;
  margin-bottom: 15px;
}

.header__navigation-left ul li:nth-child(2n)
.header__navigation-right ul li:nth-child(2n) {
  margin-right: 0px;
}

.header__navigation-left ul li a:hover,
.header__navigation-right ul li a:hover,
.header__navigation-left ul li a:focus,
.header__navigation-right ul li a:focus {
  color: #81b3d2;
}

.header__navigation-left ul li a:active,
.header__navigation-right ul li a:active {
  color: #b2b2b2;
}

.header__navigation-left ul li a.active,
.header__navigation-right ul li a.active  {
  color: #766357;
}

.header__navigation-logo {
  width: 20%;
  text-align: center;
  
}

/* MAIN */

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 724px;

  background: url('../img/bg.jpg') 0 0 no-repeat;
  background-color: #365c82;

}

.main__title img {
  margin-top: 70px;
  margin-bottom: 30px;
  
}

.main__title-mask {
  position: relative;
  width: 100%;
  height: 260px;
  
  text-align: center;
  background: url('../img/mask.png') 0 0 repeat-x;
  
}

.mask__inner {
  position: absolute;
  top: 58px;

  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 50px;
  
  background-color: #ffffff;
}

.mask__inner h3 {
  margin-bottom: 40px;
}

/* REASONS */

.row__odd {
  width: 100%;
  min-height: 250px;
}

.row__odd-text {
  display: flex;

  background-color: #81b3d2;
}

.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 33%;
  padding: 60px 40px;

  text-align: center;
  color: #ffffff
}

.text-wrapper p {
  padding-top: 25px;
}

.row__odd-img {
  width: 67%;
}

.row__odd-img img {
  width: 100%;
  height: 100%;
}

.row__even {
  display: flex;
  width: 100%;
}

.row__even-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 33%;
  padding: 45px 65px 70px 65px;

  text-align: center;
}

.row__even-item h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.even-grey {
  padding: 0;

  background-color: #eeeeee;

}
.even-grey h3 {
  margin: 0;
}
.even-grey p {
  margin-top: 25px;
  
}

/* SEARCH */
.search {
  position: relative;
}

.search__text {
  width: 570px;

  margin: 0 auto;
  

  text-align: center;
}
.search__text h2 {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}


.search__text p {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.search__button {
  width: 100%;
  margin: 0;
  height: 85px;


  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search__button:hover, 
.search__button:focus {
  background-color: #604e43;
}

.search__button:active {
  color:#857871;

  background-color: #503e33;
}


/* FOOTER-MAP */
.map {
  width: 100%;
  height: 590px;
  background-color: #cbdda9;
}
.map img {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;

  width: 100%;
  height: 590px;

  background-color: #cbdda9;
  background: url('../img/map.jpg') 0 0 no-repeat;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 120px;

  background-color: #ffffff;
  opacity: 0.8;

}

.footer__socials ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__socials li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  margin-right: 6px;
  padding-top: 5px;
  
  background-color: #81b3d2;
}

.footer__socials li:hover, 
.footer__socials li:focus {
  background-color: #669ec0;
}

.footer__socials li:active {
  background-color: #1d72a4;
  opacity: 0.8;
}

/* MODAL */
.search {
  position: relative;
}
.search__modal {
  position: absolute;
  top: 100%;
  left: 315px;
  
  display: none;
  
  
  width: 570px;
  height: 400px;
  z-index: 5;

  margin: 0 auto;
  padding: 50px;
  font-weight: 700; 

  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }
  70% {
    transform: translateY(50px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.search__modal-show {
  display: block;

  animation-name: bounce;
  animation-duration: 0.6s;
}

.search__form-item {
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;

  margin-bottom: 40px;
}
.search__form label {
  margin-right: 20px;
}
.search__form input[type="date"] {
  width: 340px;
  height: 40px;

  font-weight: 700; 
  padding-left: 10px;
  padding-right: 10px;

  background-color: #f2f2f2;
  border: none;
}
.search__form .wrapper {
  display: flex;
  margin-bottom: 0;
}

.search__form .wrapper label{
  width: auto;
  margin-right: 0;
}
.wrapper > div:first-of-type {
  margin-right: 30px;

}
.wrapper .search__form-item label {
  text-transform: uppercase;
  margin-right: 40px;
}


.guests {
  display: flex;
}

.guests input {
  width: 35px;
  height: 40px;
  font-weight: 700;
  color:#000000;

  text-align: center;

  background-color: #f2f2f2;
  border: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px;
  color: transparent;
  opacity: 1;
  background: url('../img/calendar.png') no-repeat center;
  background-size: contain;
}

.guests input[type=number]::-webkit-inner-spin-button,
.guests input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/* Для Firefox */
.guests input[type=number]{
  -moz-appearance: textfield;
}
.guests button {
  width: 40px;
  height: 40px;

  background-color: #f2f2f2;
  border: none;
}
.search__form-button {
  width: 100%;
  height: 55px;

  margin-top: 10px;
  margin-bottom: 40px;

  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
} 

.search__form-button:hover,
.search__form-button:focus {
  background-color: #669ec0;
}
.search__form-button:active {
  color: #7aadcb;
  background-color: #5496bd;
}

/* HOTELS */ 
/* FOOTER */
.footer-hotels {
  height: 120px;

  background: none;
}

/* FILTER */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  padding: 30px 60px;
  width: 100%;
  min-height: 220px;

  text-transform: uppercase;
  color: #ffffff;

  background-color: #6d97bd;
  background: url('../img/hotels/filter-bg.jpg') 0 0 no-repeat;
}

.filter .wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 50%;
}

.filter .wrapper fieldset {
  border: none;
}

.filter .wrapper legend {
  font-weight: 700;
  margin-bottom: 15px;
}

.filter .wrapper ul {
  margin-right: 110px;
}

.filter .wrapper ul li {
  position: relative;
  
  margin-bottom: 15px;
}

.filter .wrapper ul li:last-child {
  margin-bottom: 0px;
}
.filter .wrapper ul li label{
  margin-left: 40px;
}
.checkbox-wrap input[type="checkbox"] + .checkbox-indicator {
position: absolute;
top: 0;

width: 23px;
height: 23px;


/* border: 2px solid #ffffff;
border-radius: 2px; */
background: url("../img/hotels/checkbox-off.png") 0 0 no-repeat;

}

.checkbox-wrap input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: " ";
  position: absolute;
  top:0;
  
  width: 27px;
  height: 23px;
  
  background-image: url('../img/hotels/checkbox-on.png');
}

.wrapper-right {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  
  padding-left: 200px;
}


.wrapper-right table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  
  border-collapse: collapse;
  border: 2px solid #ffffff;
  
}

.wrapper-right table td {
  width: 50%;
  padding: 5px;

  text-align: center;
 
}
.wrapper-right table td:first-child {
  position: relative;
}
.wrapper-right table td:first-child::after {
  content: " ";

  position: absolute;
  width: 2px;
  height: 27px;
  background-color: #ffffff;
  right: 0;
}

.wrapper-right input[type="range"] {
width: 100%;
}

.wrapper-right input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  height: 2px;
  
}

.wrapper-right input[type="range"]::before {
  content: " ";
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  border-radius: 10px;
  border: 8px solid #ffffff;
  box-sizing: border-box;
}

.wrapper-right input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;

  border-radius: 10px;
  border: 8px solid #ffffff;
}

.wrapper-right input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  width: 20px;
  height: 20px;

  border-radius: 10px;
  border: 8px solid #ffffff;
}

.filter-show {
  width: 135px;

  padding: 7px;
  margin: 0 auto;
  margin-top: 25px;
  

  text-transform: uppercase;
  font-weight: 700;
  color:#ffffff;
  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-show:hover,
.filter-show:focus {
  color:#000000;
  background-color: #ffffff;
}
.wrap-border {
  border-bottom: 2px solid #e5e5e5;
  padding: 25px 70px;
}

.list-hotels__sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-transform: uppercase;
  

  width: 100%;
  
}
.list-hotels-wrap {
  display: flex;

  width: 50%;
}

.sort-wrap  {
  display: flex;
  flex-wrap: wrap;
  
  margin-left: 45px;
}


.sort-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
}

.sort-wrap ul li:first-child {
  margin-left: 35px; 
}

.sort-wrap ul li button {
  text-transform: uppercase;
  

  background: transparent;
  border: none;
}

.sort-wrap ul li {
  padding-bottom: -10px;
  margin-right: 30px;
  margin-bottom: 0;
  border-bottom: 2px dotted #81b3d2;
}

.sort-wrap ul li.active {
  border-bottom: none;  
}

.sort-wrap ul li.active button{
  color: #81b3d2;  
}

.sort-wrap ul li:last-child {
  margin-left: 0px;
}

.sort__arrows {
  margin-left: auto;
}
.arrow {
  border: none;
  background: transparent;

  cursor: pointer;
}

.arrow-down {
  margin-left: 10px;
}



.hotel__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 150px;

}

.desc {
  display: flex;
  flex-wrap: wrap;

  width: 50%;
}

.desc__pic {
  margin-right: 30px;
}
.desc__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


}

.desc__text-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 185px;

}
.button-booking {
  padding: 5px;
  margin-right: 5px;
  margin-top: 10px;

  color: #ffffff;
  text-transform: uppercase;

  border:none;
  cursor: pointer;
}

.button-details {
  padding: 4px;
  background-color: #81b3d2;
  width: 130px;
}
.button-booking:hover,
.button-booking:focus {
  background-color:#604e43;
}
.button-booking:active {
  background-color: #503e33;
  color: #928a85;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  background-color: #5496bd;
}
.button-details:active a {
  color: #94b9d2;
}

.button-book {
  background-color: #766357; 
  width: 145px;
}

.rate__stars {
  text-align: right;
  margin-bottom: 35px;
}

.rate__score {
  padding-top: 2px;
  padding-bottom: 2px;

  width: 120px;
  text-align: center;

  background-color: #f2f2f2;
}

/* MAP */
/* FOOTER */

.footer-map {
  height: 1000px;

  
}
